NOTE: everything is big endian.

metadata {
    // yes, this is a reference to java
    u4 file_signature = "YAVA"
    u2 major_version
    u2 minor_version
    u64 constpool_offset
    u64 classdef_offset
    u64 program_offset
};
constpool;
classes;
program;
